* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    .flex-1 {
      flex-basis: calc(100% - 40px);
      margin: 20px;
    }
    .flex-2 {
      flex-basis: calc(50% - 40px);
      margin: 20px;
    }
    .flex-3 {
      flex-basis: calc(33.33% - 40px);
      margin: 20px;
    }
    .flex-4 {
      flex-basis: calc(25% - 40px);
      margin: 20px;
    }
    .flex-5{
      flex-basis: calc(25% - 40px);
      margin: 45px 0px 0px 0px;
    }
  
  
  }
  
  .flex-auto {
    margin: 0 auto;
  }
  
  /*
  BOXSTYLES
  */
  
  .radius {
    --radius: 4px;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
  }
  
  .rounded {
    --radius: 50%;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
  }
  
  .transition {
    --seconds: 0.2s;
    transition-duration: var(--seconds);
    -moz-transition-duration: var(--seconds);
    -webkit-transition-duration: var(--seconds);
    cursor: pointer;
  }