/*
GENERAL
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /*
  FLEX
  */
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    .flex-1 {
      flex-basis: calc(100% - 40px);
      margin: 20px;
    }
    .flex-2 {
      flex-basis: calc(50% - 40px);
      margin: 20px;
    }
    .flex-3 {
      flex-basis: calc(33.33% - 40px);
      margin: 20px;
    }
    .flex-4 {
      flex-basis: calc(25% - 40px);
      margin: 20px;
    }
    .flex-5{
      flex-basis: calc(25% - 40px);
      margin: 45px 0px 0px 0px;
    }
  
  
  }
  
  .flex-auto {
    margin: 0 auto;
  }
  
  /*
  BOXSTYLES
  */
  
  .radius {
    --radius: 4px;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
  }
  
  .rounded {
    --radius: 50%;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
  }
  
  .transition {
    --seconds: 0.2s;
    transition-duration: var(--seconds);
    -moz-transition-duration: var(--seconds);
    -webkit-transition-duration: var(--seconds);
    cursor: pointer;
  }
  
  /*
  HEADER
   */
  
  .main_header {
    background: #777;
    padding: 3px;
  }
  
  .main_header_logo {
    flex-basis: 75%;
  }
  
  .main_header_logo_img {
    color: #fff;
  }
  
  .main_header_user_icons {
    flex-basis: 25%;
    margin-top: 10px;
  }
  
  .main_header_user_icons_icon {
    font-size: 1.4em;
    margin-left: 10px;
    color: #fff;
  }
  
  .main_header_user_icons p {
    color: #fff;
    font-size: 1.2em;
  }
  
  .main_header_user_icons_info {
    float: left;
    margin-right: 10px;
  }
  
  /*
  PANEL SLIDER
   */
  .main_content_panel_slider {
    margin-top: 60px;
    flex-basis: 50%;
    margin-left: 8%;
  }
  
  .main_content_panel_slider_header {
    background: #555;
    padding: 10px;
    span {
      color: #fff;
      font-size: 1.7em;
      margin: 0 15px 0 15px;
      margin-top: 10px;
    }
    p {
      color: #fff;
      font-size: 1.5em;
      font-weight: 400;
      display: inline-block;
    }
    a {
      color: #fff;
      text-decoration: none;
      float: right;
      margin-top: 15px;
      margin-right: 10px;
    }
  }
  
  .main_content_panel_slider_img img {
    width: 100%;
    max-width: 100%;
  }
  
  /*
  PANEL BUTTONS
   */
  
  .main_content_panel_buttons_main {
    flex-basis: 32%;
    margin-top: 40px;
  }
  
  .main_content_panel_buttons {
    margin: 0 auto;
    display: inline-block;
  }
  
  .main_content_panel_buttons_a {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    /*padding: 30px 40px;*/
    width: 150px;
    height: 125px;
    background: crimson;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    &:hover {
      background: red;
    }
    span {
      font-size: 2em;
      display: flex;
      justify-content: center;
      margin: 25px 0 15px 0;
    }
    a {
      text-decoration: none;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 400;
      display: block;
    }
  }
  
  /*
  REGISTER USER
  */
  
  /*
  ASIDE
   */
  
  .main_content_register_user_aside {
    background: crimson;
    width: 10%;
    height: 170vh;
    position: absolute;
  }
  
  .main_content_register_user_aside_links{
    text-align: center;
    margin: 40px 20px;
  }
  
  .main_content_register_user_aside a{
    text-decoration: none;
    color: #fff;
    font-size: 2.5em;
    border: 1px solid #fff;
    padding: 10px 20px;
  }
  
  .main_content_register_user_header {
    background: #000;
    width: 100%;
    height: 100%;
    padding: 20px;
    width: 90%;
    float: right;
  }
  
  .main_content_register_user_header span{
    color: #fff;
    font-size: 2em;
    margin-right: 20px;
  }
  
  .main_content_register_user_header h2, h3, h4 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px 0 0;
  }
  
  .main_content_register_user_form {
    width: 90%;
    float: right;
    position: relative;
  }
  
  .main_content_register_user_form h1 {
    font-size: 1.7em;
    margin: 20px 0 20px 20px;
  }
  
  .main_content_register_user_form h2{
    font-size: 1.3em;
    margin: 20px 0 20px 20px;
    color: #777;
  }
  
  .main_content_register_user_search_form input {
    width: 30%;
    font-size: 0.875em;
    padding: 10px;
    /*border: 1px solid var(--red);*/
    outline: none;
    float: right;
    margin: 20px 20px 20px 0;
  }
  .main_content_register_user_form input, select {
    width: 100%;
    font-size: 0.875em;
    padding: 10px;
    overflow: hidden;
    outline: none;
  }
  
  .main_content_register_user_form_check{
    display: inline-block;
    margin: 0 0 0 20px;
    background: #eee;
    padding: 8px;
    float: left;
    display: flex;
  
  }
  
  .main_content_register_user_form_deficiencia_check{
    display: inline-block;
    margin: 0px 0 0 10px;
    float: left;
    margin-left: 150px;
  }
  
  
  .main_content_register_user_form2 hr{
    height:2px;
    width: 100vh;
    border:none;
    color:#000;
    background-color:#000;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 70px;
  }
  
  .main_content_register_user_form2 {
    width: 100%;
    float: right;
    position: relative;
  }
  
  .main_content_register_user_form2 h1 {
    font-size: 1.7em;
    margin: 20px 0 20px 20px;
    margin-left: 150px;
  }
  
  .main_content_register_user_form2 h4 {
    font-size: 1.3em;
    margin: 20px 0 20px 20px;
    color: #777;
    margin-left: 150px;
  }
  
  
  
  
  
  .main_content_register_user_form_check label{
    margin-left: 10px;
    padding: 0;
    width: 100%;
  }
  
  .main_content_form_register_btn{
    border: none;
    padding: 10px 20px;
    background: crimson;
    color: #fff;
    float: right;
    margin: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .main_content_form_register_btn_search{
    border: none;
    padding: 13px 20px;
    background: crimson;
    color: #fff;
    float: right;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
  }
  
  .main_content_register_user_form_warning span p{
    display: inline-block;
    margin-left: 10px;
  }
  
  /*
  FORMS
   */
  
  .nav_register{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  
  .nav_register span{
    font-size: 0.875em;
    color: crimson;
    margin-left: 10px;
  }
  